# Python specific
__pycache__/
*.py[cod]
*.egg-info/
*.egg

# Virtual environments
.venv/
env/
ENV/

# Environment variables
.env

# Logs
logs/
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE/Editor-specific files
.vscode/
.idea/

# Build output
*.pyc
coverage/
.yarn
